table{
    border-color:goldenrod;
    margin-top: 250px;

}
body{
    justify-content: center;
    align-items: center;
    display:flex;
    
    
}
table, th, td{
            border:1px solid rgb(255, 0, 111);
            
}
